.main-container {
  max-width: 600px;
  margin: 0 auto;

  .input-container {
    text-align: center;
    padding: 5px;

    label {
      display: inline-block;
      width: 120px;
      text-align: left;
    }

    input {
      width: 400px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #3e3e3e;
    }
  }

  input.submit {
    margin-top: 10px;
    padding: 5px 15px;
  }

  hr {
    margin-top: 30px;
  }

  .invisibility {
    display: none;
  }
}